/*
	OVERRIDES
*/
.navbar-default{
	padding:14px;
	background:white;
	margin-bottom:0px;
}
.navbar-default .navbar-brand {
    color: #777;
    padding-left: 56px;
}
.navbar-right{
	margin-right:41px;
}

.jumbotron{
	background-color:transparent;
	color:white;
	letter-spacing:0.07rem;
}

.btn-lg{
	font-size:20px;
	width:300px !important;
	margin-top:20px;
	display: inline-block;
}


/*
	END OVERRIDES
*/

